# {{ ansible_managed }}
---
users:
{% for user in authelia_users %}
  {{ user.username | to_json }}:
    disabled: {{ user.disabled | default(false) | bool | lower }}
    displayname: {{ user.displayname | to_json }}
    email: {{ user.email | to_json }}
    password: {{ user.password_hash | to_json }}
    groups: {{ user.groups | default([]) | to_json }}
{% endfor %}
