[defaults]
inventory = inventory/hosts.yml
roles_path = roles
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = false

[ssh_connection]
pipelining = true
